/bin/
/.gradle/
/.settings/
/build/
/eclipse/
/gradle/
*.project
build.gradle
CREDITS-fml.txt
forge-1.7.2-10.12.1.1060-changelog.txt
gradlew
gradlew.bat
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
.classpath
README.txt
